
.couleur_header
{
    background-color: transparent;
}

.nom_artizone
{
    font-family: 'poppins';
    color: rgb(3, 170, 25);
    font-size: 1.7em;
}
.btn:hover 
{
    color: green;
    font-weight: bold;
}
body
{
    background-image: url('../image/bg/baobab.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
section{
    margin-top: 100px;
}
.tab 
{
    background-color: white;
}